* { margin: 0; padding: 0; box-sizing: border-box; text-align: center;}
body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  align-items: center;
}
#mapSvg {
  background-color: hsl(0, 0%, 87%)ck;
  min-width: 100vmin;
  min-height: 100vmin;
}
#mainDiv {
  display: flex;
  justify-content: center;
}
#teamDiv1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}
#teamDiv2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}
#countDiv1 {
  color: hsl(240, 100%, 50%);
  font-size: 10vmin;
  text-align: center;
  font-family: sans-serif;
  display: flex;
}
#countDiv2 {
  color: hsl(0, 100%, 40%);
  font-size: 10vmin;
  text-align: center;
  font-family: sans-serif;
  display: flex;
}