body {
  background-color: hsl(0, 0%, 12%);
  margin: 0
}
#interfaceDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#graph {
  position: absolute;
  width: 100vmin;
  height: 100vmin;
}